%p
  :markdown
    # Notice
    [Tereport v2.0](http://auk-pdmactet01.mcom.local/)
    is online now. It has the most used features implemented.
    You can still use this version until the new version is stable and
    full featured. But your feedbacks on the 2.0 version are appreciated.
    (Did I mention that it is fast and awesome?)
