%ul.nav.nav-tabs
  %li{:role => "presentation", :class => ("active" if controller_name == "projects")}
    = link_to "home", project_path(project.id)
  %li{:role => "presentation", :class => ("active" if controller_name == "reports")}
    = link_to "reports", project_reports_path(project.id)
  %li{:role => "presentation", :class => ("active" if controller_name == "dashboards")}
    = link_to "dashboards", project_dashboards_path(project.id)
    


