.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title.pull-left= type
    = link_to project_test_runs_path(project, type: type), class: 'btn btn-primary pull-right' do
      %i.fa.fa-search
  .list-group
    .list-group-item
      .bootcards-chart-canvas#chart
    .list-group-item
      .row
        .col-sm-8
          %h5.list-group-item-heading Last Run
          - tr = history[0] if history.size > 0
          - if tr
            = render partial: 'mini_status', locals: {status: tr.summary_with_passrate}
        .col-sm-3
          - if tr
            = link_to test_run_path(tr), class: 'btn btn-default pull-right' do
              View
