.container-fluid
  .row
    .col-sm-8
      .row
        %h4= type
      .row
        .col-xs-3
          last
        .col-xs-3
          2nd
        .col-xs-3
          3rd
        .col-xs-3
          4th
    .col-sm-4
      %p sparkline
