.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title.pull-left= type
  .list-group
    .list-group-item
      .bootcards-chart-canvas#chart
    .list-group-item
      %h5.list-group-item-heading Last Run
      - tr = history[0]
      = render partial: 'mini_status', locals: {status: tr.summary_with_passrate}
