.page-header
  %h2 Summary
  %p
    = "Dashboard for #{@project.project}."

.container-fluid#summary-view
  .row
    - @types.each do |t|
      .col-md-3
        = react_component('MiniTrend',
          url: project_test_runs_path(@project, type: t),
          api: trend_api_project_path(@project),
          runType: t,
          params: params)
