.page-header
  %h2 Summary
  %p
    = "Dashboard for #{@project.project}."

%h3
  %i.fa.fa-wrench
  Maintenance

-# .container-fluid#summary-view
-#   .row
-#     - @types.each do |t|
-#       .col-md-3.test-run-summary{ data: { type: t, load: fetch_history_project_path(@project, type: t, format: :js) } }
-#         = spinner
