.modal.fade#testRunSummary{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'testRunSummaryLabel'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close'}
          %span{'aria-hidden': true} &times;
        %h4.modal-title#testRunSummaryLabel
          %p Summary
      .modal-body
        .row
          .col-md-5
            - summarize(@test_run).each do |info|
              .row
                .col-md-4
                  %strong= info[:name]
                .col-md-8
                  = info[:value]
          .col-md-7
            #donut{ data: { summary: @test_run[:summary].to_json.html_safe } }

:coffee
  done = false
  $('#testRunSummary').on 'shown.bs.modal', (e) ->
    return if done
    summary = $('#donut').data('summary')
    color_map = {passed: '#5cb85c', failed: '#d9534f', broken: '#f0ad4e'}
    data = []
    colors = []
    for k, v of summary
      data.push {label: k, value: v}
      colors.push color_map[k]
    Morris.Donut
      element: 'donut'
      data: data
      colors: colors
    done = true
    return
  # $('#donut').html(summary)
