- if @archived.size > 0
  .fluid-container#testRunsTable
    .row.header
      .col-sm-2
        %h4 start time
      .col-sm-2
        %h4 duration
      .col-sm-2
        %h4 type
      .col-sm-2
        %h4 status
      .col-sm-4
    - @archived.each do |test_run|
      = render partial: 'test_run_row', locals: { test_run: test_run }
- else
  %p No Results
