= react_component('FilterableTestRunTable', url: api_test_runs_path(project_path: @project.path))
-# - if @test_runs.size > 0
-#   = paginate @test_runs
-#   #testRunsTable
-#     .header
-#       .row
-#         .col-sm-1
-#         .col-sm-2
-#           %select.form-control.input-sm#filterByType{ placeholder: 'type' }
-#             %option All Types
-#             - @run_types.each do |t|
-#               %option= t
-#         .col-sm-2
-#           %h4 start time
-#         .col-sm-2
-#           %h4 duration
-#         .col-sm-2
-#           %h4 status
-#         .col-sm-3
-#           #globalToolbar.pull-right
-#             .btn-group
-#               = link_to 'delete', '#', class: 'btn btn-danger', id: 'delete-button'
-#               = link_to 'clear', '#', class: 'btn btn-primary', id: 'clear-button'
-#             .btn-group.show-only-with-2
-#               = form_tag(diff_project_test_runs_path, method: :get) do
-#                 = hidden_field_tag :id, 'id'
-#                 = hidden_field_tag :baseline, 'baseline'
-#                 = button_tag 'diff', class: 'btn btn-primary'
-#               -# = link_to 'diff', '#', class: 'btn btn-primary', id: 'diff-button', data: {link: diff_test_run_path('id', 'basline')}
-#             %span.message.text-muted
-#     .content
-#       - @test_runs.each do |test_run|
-#         = render partial: 'test_run_row', locals: { test_run: test_run }
