-# %ul
-#   = @test_runs.each do |test_run|
-#     %li= test_run.path

-# - if true
-#   = form_tag({controller: "test_runs", action: "index"}, method: "get") do
-#     .input-group.form-control
-#       = select_tag 'category', options_from_collection_for_select(categories(@project.test_runs), 'to_s', 'to_s', params[:category]), include_blank: "Any", onchange: "this.form.submit();"
-#       = select_tag 'seconds', options_from_collection_for_select(date_filter, 'value', 'human', params[:seconds]), include_blank: "Any Time", onchange: "this.form.submit();"
-#       = select_tag 'duration', options_from_collection_for_select(duration_filter, 'value', 'human', params[:duration]), include_blank: "All", onchange: "this.form.submit();"
-#       = select_tag 'number', options_from_collection_for_select(number_filter, 'to_s', 'to_s', params[:number]), include_blank: "All", onchange: "this.form.submit();"

-#     -# .input-group-btn
-#     -#   = button_tag(type: "submit", class: "btn btn-default") do
-#     -#     %i.glyphicon.glyphicon-search

- if @test_runs.size > 0
  -# = paginate @test_runs
  .fluid-container#testRunsTable
    .row.header
      .col-sm-2
        %h4 start time
      .col-sm-2
        %h4 duration
      .col-sm-2
        %h4 type
      .col-sm-2
        %h4 status
      .col-sm-4
        #globalToolbar.pull-right
          .btn-group
            = link_to 'delete', '#', class: 'btn btn-danger', id: 'delete-button'
            = link_to 'diff', '#', class: 'btn btn-primary disabled', id: 'diff-button'
            = link_to 'clear', '#', class: 'btn btn-primary', id: 'clear-button'
    - @test_runs.each do |test_run|
      = render partial: 'test_run_row', locals: { test_run: test_run }
  -# %table#testRunsTable.table.table-striped.table-hover.table-fixed
  -#   %thead#tableHeader
  -#     %tr.filters
  -#       %th start time
  -#       %th duration
  -#       %th
  -#         %select.form-control.input-sm#filterByType{ placeholder: 'type' }
  -#           %option All Types
  -#           - @run_types.each do |t|
  -#             %option= t
  -#       %th status
  -#       %th
  -#
  -#   %tbody
  -#     - @test_runs.each do |test_run|
  -#       = render partial: 'test_run_row', locals: { test_run: test_run }
- else
  %p No Results
