= react_component('TestRunTable',
  url: api_test_runs_path(project_path: @project.path, archived: false),
  diff_url: diff_project_test_runs_path(@project),
  types: @project.run_types,
  params: params)
