.row
  - if test_case.respond_to? 'attachments'
    - atts = test_case[:attachments][:attachment]
    - atts = [atts] if atts.is_a? Hash
    - atts.each do |att|
      .col-xs-6.col-md-3
        = link_to att[:source], class: 'thumbnail' do
          -#%img{ src: att[:source], alt: '' }
          .caption
            %p= att[:title]
  - else
    %p Nothing to see here
