= render partial: "projects/menu", locals: {project: @test_case.test_suite.test_run.project}
= render partial: "breadcrumb", locals: {test_case: @test_case}

= render partial: "test_case", locals: {test_case: @test_case}
