/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootstrap/theme"
@import "fuelux/dist/css/fuelux"
@import "tipsy/src/stylesheets/tipsy"
@import "ladda-bootstrap/dist/ladda-themeless.min"
@import "bootstrap-multiselect/dist/css/bootstrap-multiselect"
@import "font-awesome-sprockets"
@import "font-awesome"
@import "morris.js/morris"
// @import "bootcards/dist/css/bootcards-desktop"
@import "bootstrap-switch/dist/css/bootstrap3/bootstrap-switch"
@import "bootstrap-vertical-tabs/bootstrap.vertical-tabs"
@import "ekko-lightbox/dist/ekko-lightbox"
// @import url(http://css-spinners.com/css/spinner/three-quarters.css)

#loading
  display: none

.row-fluid
  white-space: nowrap
  .col-md-3
    display: inline-block

.list-group-item
  word-wrap: break-word

.h-list
  overflow-x: scroll
  overflow-y: hidden

.h-list-item
  padding: 0

.list-inline
  white-space: nowrap

img
  max-height: 768px

.vertical-tab
  overflow: hidden

.navbar-inverse .navbar-brand
  color: #FF6600

.inline
  display: inline-block
