// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chart {
	shape-rendering: crispEdges;
}

.mini text {
	font: 9px sans-serif;
}

.main text {
	font: 12px sans-serif;
}

.month text {
	text-anchor: start;
}

.todayLine {
	stroke: blue;
	stroke-width: 1.5;
}

.axis line, .axis path {
	stroke: black;
}

.miniItem {
	stroke-width: 6;
}


.future {
	stroke: gray;
	fill: #ddd;
}

.past {
	stroke: green;
	fill: lightgreen;
}

.passed {
	stroke: green;
	fill: lightgreen;
}

.failed {
	stroke: red;
	fill: lightcoral;
}

.broken {
	stroke: goldenrod;
	fill: gold;
}

.brush .extent {
	stroke: gray;
	fill: blue;
	fill-opacity: .165;
}
