#main-view
  height: 500px
  #tree_view, #detail_view
    height: 100%
    overflow: scroll

#testRunsTable tbody tr #toolbar
  visibility: hidden

#testRunsTable tbody tr:hover #toolbar
  visibility: visible
