#header
  margin: 40px 0 0
#main-view
  height: 500px
  #tree_view, #detail_view
    height: 100%
    overflow: scroll

  // #tree_view
  //   background-color: #eee

#testRunsTable .test-run-row .mini-toolbar
  visibility: hidden

#globalToolbar
  vertical-align: middle
  display: none

#testRunsTable .test-run-row:hover .mini-toolbar
  visibility: visible

#testRunsTable .test-run-row:hover
  background-color: #d9edf7

#testRunsTable .header
  padding-top: 5px

.test-run-row
  padding: 5px
